/* COMMON */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}
.row::after {
  content: '';
  display: table;
  clear: both;
}
.container {
  background-color: #f2f2cd;
}
#steps.container.grey {
  background-color: #f9f9f9;
}
.row {
  margin: 0 auto;
}
img {
  height: 150px;
}
.left, .right, .central {
  margin-top: 20px;
}
h1 {
  padding: 10px 0;
}



/* BLOCCO LEZIONI */
#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin: 0 auto;
}



/* BLOCCO PERCHE */
#why .row>.first,
#why .row>.second,
#why .row>.third {
  margin-top: 20px;
}
#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}



/* tablet  view */
@media screen and (min-width: 768px) {
  .row {
    max-width: 450px;
  }
  /* BLOCCO STEPS */
  #steps .row>.left,
  #steps .row>.central {
    float: left;
    width: 50%;
  }
  #steps .row>.right {
    width: 50%;
    margin: 0 auto;
}



/* desktop view */
@media screen and (min-width: 1200px) {
  /* COMMONS */
  .row {
    max-width: 992px;
    margin-top: 100px;
  }
  #lezioni.container {
    background-color: white;
  }
  #why.container {
    background-color: #f9f9f9;
  }
  img {
    height: 200px;
  }
  h1 {
    padding: 0;
  }
  h3 {
    margin: 20px 0;
  }
  hr {
    margin: 5px 0;
  }
  /* BLOCCO LEZIONI */
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 50%;
    float: left;
  }
/* BLOCCO STEPS */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: left;
    width: 33%;
  }
/* BLOCCO PERCHE */
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    width: 100%;
    margin-top: 80px;
  }
}


